# Diese Datei wird von setup.sh in .env kopiert
# Alle Zeilen, die auf _PLACEHOLDER enden, werden automatisch ersetzt!

DOMAIN_NAME=DOMAIN_PLACEHOLDER

# Dieses Passwort generiert setup.sh via OpenSSL automatisch 
DB_PASSWORD=PASSWORD_PLACEHOLDER

# Diese Variablen kommen aus unserem configure.sh!
ADMIN_USER=DEMO_ADMIN_USER
ADMIN_PASSWORD=DEMO_ADMIN_PASS
